* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  color: #10214e;
  
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50vw;
  max-width: 55em;
  min-width: 45em;
  border-radius: 1rem;
  /* Lettertype, lettergrote, regelafstand, letterafstand & kleur */
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  letter-spacing: 2px;
  color:rgb(255, 255, 255); ;
  /* Achtergrond, linear-gradient & schaduw */
  background: rgb(252,245,69);
  background: linear-gradient(90deg, rgba(252,245,69,1) 0%, rgba(252,176,69,1) 50%, rgba(55,71,196,1) 100%);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  /* Positie header */
  position: absolute;
  top: 1rem;
  left: 8.9em;
}

img {
  margin-top: 0em;
  margin-left: 0em;
  width: 12em;
  height: auto;
  border: 0px solid #fff;
  transition: .25s .15s;
}

.gegevens {
  /* Positie gegevens */
  position: absolute;
  top: 4em;
  left: 12em;
}

.educatie-en-skills {
  /* Positie gegevens */
  position: absolute;
  top: 4em;
  left: 20em;
  
}

p { 
  /* Positie paragraaf */
  margin: 0;
  width: 75%;
  margin-top: 0;
  margin-left: 12em;
  padding: 1.2rem 2rem;
  /* Uitlijning tekst */
  text-align: left;
}

button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(.8);
  transition: .25s;
}
button:focus {
  outline: none;
  background: #202592;
}
button:focus svg {
  stroke: rgba(0,239,255,1);
}

svg {
  position: absolute;
  top: calc(1.25rem - 12px);
  left: calc(1.25rem - 12px);
  stroke: #4e54c8;
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity: 0;
  transition-delay: 0ms;
}

/* expand content */
body.expand {
  font-size: 1.15em;
}

body.expand article {
  width: 60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width: 15em;
}
